#centerContainer {
    width: 700px;
    border: 1px solid var(--borderColor);
    padding: 20px;
    position: relative;
    margin: 30px auto 100px auto;
}

h1 {
    border-bottom: 2px solid var(--borderColor);
}

h3 {
    width: fit-content;
    border-bottom: 2px solid var(--borderColor);
}

p { 
    color: rgb(93, 93, 93);
}