#bottomControlPanel {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    box-shadow: 0px -1px 1px var(--borderColor);
    background-color: var(--navColor);

}

#centerContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.centerItem {
    max-width: 500px;
    border: 1px solid var(--borderColor);
    padding: 20px;
}

#broadcastCover {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 1px var(--borderColor);
    margin-top: 4px;
}

#broadcastInformation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#showDescription {
    width: 250px;
    overflow: auto;
    height: 255px;
}

#showBroadcastSchedule {
    margin-left: 70px;
}

#rightBottomContainer {
    position: fixed;
    border: 1px solid var(--borderColor);
    width: fit-content;
    height: fit-content;
    bottom: 60px;
    right: 0;
    padding: 0;
    margin: 15px;
}

#chatTopBar {
    height: fit-content;
    border-bottom: 2px solid var(--borderColor);
}

#chatTitle {
    text-align: center;
    margin: 10px 10px 20px 10px;
}

#chatSettingButton {
    position: fixed;
    cursor: pointer;
}

#chatSettingButton object {
    width: 25px;
}

#chatContainer {
    padding: 0 10px 0 10px;
}

.chatMessage {
    display: inline;
}

.chatSender {

}

.chatContent {
    
}

#chatInput {
    width: 220px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    transition: 200ms;
    background-color: var(--bodyBackgroundColor);
    color: var(--primaryTextColor);
    outline: none;
}

#chatInput:hover {
    background-color: var(--navhighlightColor);
}

#chatSendButton {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    transition: 200ms;
}

#chatSendContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#connections {
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

#connections>object {
    width: 22px;
    margin-left: 10px;
    margin-right: 30px;
}

#conCount {
    font-size: larger;
    margin: 0;
}

#volumeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    height: fit-content;
    width: fit-content;
    margin: 0;
    margin-left: 30px;
    top: 50%;
    transform: translateY(-50%)
}

#volumeContainer>img {
    width: 35px;
    height: 35px;
}

#volcontrol {
    -webkit-appearance: none;
    background-color: var(--iconcolor);
    margin-left: 10px;
    border-radius: 25px;
    height: 8px;
    background: linear-gradient(to right, var(--iconcolor) 0%, var(--iconcolor) 50%, #000 50%, #000 100%);
    border: 1px solid var(--iconcolor)
}

#volcontrol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--iconcolor);
    cursor: pointer;
}

#volcontrol:hover::-webkit-slider-thumb {
    background-color: white;
    width: 12px;
    height: 12px;
}


#volicon {
    width: 25px;

}

#conCount {
    color: var(--iconcolor)
}


#upcomingScheduleContainer {
    user-select: none;
}