#topnav {
    position: fixed;
    top: 0px;
    z-index: 99;
    background-color: var(--navColor);
    width: 100%;
    height: fit-content;
    box-shadow: 0px 1px 2px var(--borderColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    border-top: 1px solid var(--iconcolor);
}

#topnavPadding {
    width: 100%;
    height: 70px;
}

#logo {
    height: 60px;
    margin: 0 20px 0 20px;
}

#logoA {
    border-bottom: 2px solid transparent;
    transition: 100ms;
}

#logoA:hover {
    background-color: var(--navhighlightColor);
    border-bottom: 2px solid var(--iconcolor);
}


.navlink {
    text-decoration: none;
    color: var(--primaryTextColor);
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid transparent;
    transition: 100ms;
    font-size: 18px;
}

.navlink:hover {
    background-color: var(--navhighlightColor);
    border-bottom: 2px solid var(--iconcolor);
}