@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bodyBackgroundColor: rgb(5, 5, 5);

    /* text colors*/
    --primaryTextColor: #fff;


    /* shadows */
    --borderColor: rgb(21, 21, 21);

    /* widget colors */
    --navColor: rgb(0, 0, 0);
    --secondaryWidgetColor: rgb(4, 4, 4);

    --navhighlightColor: #3a60de;


    --iconcolor: #3a60de;
    --iconHighlight: #3a60de;
}

* {
    font-family:  'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bodyBackgroundColor);
    font-family: Ubuntu;
    color: var(--primaryTextColor);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(26, 26, 26);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(46, 46, 46);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(55, 55, 55);
}