:root {
    --bodyBackgroundColor: white;

    /* text colors*/
    --primaryTextColor: #000000;
    

    /* shadows */
    --primaryShadowColor: rgb(211, 211, 211);
    --secondaryShadowColor: rgb(51, 51, 51);
    
    /* widget colors */
    --navColor: white;
    --secondaryWidgetColor: rgb(255, 255, 255);
    --navhighlightColor: rgb(195, 238, 252);
    --linkBottomBorder: rgb(59, 112, 208);
}

@font-face {
    font-family: Ubuntu;
    src: url('font/Ubuntu-Regular.ttf')
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
    font-family: Ubuntu;
    user-select: none;
}