body {
    overflow-x: hidden;
}

#broadcastContainer {
    margin: 0px 30px 30px 80px;
    padding: 2px;
}

#dashboardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dashboardItem {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid var(--primary-shadow-color);
    position: relative;
}

h3, h5 {
    margin-top: 0px;
}

button {
    font-size: 25px;
}

canvas {
    background-color: var(--primary-shadow-color);
    position: absolute;
    bottom: 20px;
}

#volumeLabel {
    margin: 20px 0px 0px 0px;
}

.chartNumber {
    margin: 0px;
    position: absolute;
    left: 30px;
    text-align: center;
}

#chartMin {
    bottom: 25px;
}

#chartMax {
    bottom: 145px;
}