

:root {
    --primary-background-color: #fff;
    --primary-shadow-color: #bebebe;


    /* Button Interaction*/
    --general-button-hover: rgb(136, 144, 255);
    --general-button-active: rgb(152, 159, 255);
    --general-button-activated: rgb(77, 87, 232);
}

@font-face {
    font-family: inter-var;
    src: url(https://www.notion.so/_next/static/media/Inter-Var.730e8169.woff2);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
    font-family: inter-var;
}

