

:root {
    --primary-background-color: rgb(0, 0, 0);
    --primary-shadow-color: #171717;
    --primary-text-color: #fff;


    /* Button Interaction*/
    --general-button-hover: rgb(136, 144, 255);
    --general-button-active: rgb(152, 159, 255);
    --general-button-activated: rgb(77, 87, 232);

    /* ligther highlighting for text entries */
    --general-button-hover: rgb(226, 228, 255);
}
@font-face {
    font-family: inter-var;
    src: url(https://www.notion.so/_next/static/media/Inter-Var.730e8169.woff2);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
    font-family: inter-var;
    user-select: none;
}

* {
    color: var(--primary-text-color);
}

input {
    background-color: var(--primary-background-color);
    outline: none;
    border: 2px solid var(--primary-shadow-color);
}

button {
    background-color: var(--primary-text-color);
    color: var(--primary-background-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--general-button-hover);
}

button:active {
    background-color: var(--general-button-active);
}