#settingsContainer {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-left: 150px;
    transform: translateX(-50%);
    padding: 2px;
}

#settingsContainer>.setting>h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    font-size: small;
}
#settingsContainer>.setting>input {
    margin-bottom: 15px;
    display: block;
}
#settingsContainer>.setting>input:hover {
    background-color: var(--general-button-hover);
}