#settingsContainer {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-left: 20%;
    transform: translateX(-50%);
    padding: 5px;
}

#settingsContainer>.setting>h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    font-size: small;
}
#settingsContainer>.setting>input {
    margin-bottom: 15px;
}