#settingsContainer {
    margin-left: 80px;
    padding: 2px;
}

#settingsContainer>.setting>h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    font-size: small;
}
#settingsContainer>.setting>input {
    margin-bottom: 15px;
    display: block;
}
#settingsContainer>.setting>input:hover {
    color: var(--primary-background-color);
    background-color: var(--general-button-hover);
}